*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: yellowgreen;
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 44vh;
    width: 22vw;
}
input{
    height: 4vh;
    width: 17vw;;
}
button{
    height: 4vh;
    width: 8vw;
}
input[placeholder]{
    text-align: center;
}
#result{
    height: 8vh;
    width: 16vw;
}
div > p{
    font-size: 6rem;
    color: #ffff;
}